
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Header Styles */
header {
  background-color: darkolivegreen;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
  background-color: darkolivegreen;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Contact Form Styles */
.contact-container {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container label {
  margin: 10px 0 5px;
}

.contact-container textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.contact-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-container button:hover {
  background-color: #45a049;
}

/* Counter Section Styles */
section {
  padding: 20px;
  margin: 20px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #333;
}

section p {
  color: #555;
}

/* Project Section Styles */
ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
